html, body {
    height: 100%;
	background-color:white;

}
body {
    margin: 0;
	background-color:white;
	color:grey;
	font-family:sans-serif;
}

.img{
	float:left;
}
/* dropdown menu */

#navbar{
	position:fixed;
	margin:0px;
	top:0px;
	left:0px;
	z-index:1;
	width:100%;
	background-color:#32174D;
	height:20%;
	font-size:120%;
	text-align:right;
}

#navbar ul li:hover > ul{
	display: block;
}
#navbar ul:after{
	content:"";
	clear:both;
	display:block;
}
#navbar ul{/* top menu */
	list-style:none;
	position:relative;
	display:inline-table;
	margin-top:-13px;
}
#navbar ul li{/* top menu link/ankerpunten */
	padding:0px;
	margin:0px;
	float:left;
	list-style:none;
	background:#32174d;
	border-collapse:collapse;
}

#navbar ul li:hover a{/* kleur hover top menu */
	color:;
}

#navbar ul ul li:hover a{
	color:#32174d;
	background-color:white;
}

#navbar ul li a{/* links top menu */
	display:block;
	text-decoration:none;
	padding: 10px 40px;
	color:white;
}
#navbar ul ul{/* rand om top menu */
	position:absolute;
	top:100%;
	display:none;
	text-align:center;
	padding:0px;

	
}
#navbar ul ul li:hover a{/* kleur hover dropdown gedeelte */
	background:#150920;
	color:white;
}
#navbar ul ul li{/* rand om dropdown gedeelte */
	float:none;
	margin:0px;
	padding:2px;
	background-color:#32174d;
	color:#32174d;
	border-bottom:1px solid black;

	
}
#navbar ul ul li a{/* dropdown links/ankerpunten */
	padding:7 45px;
	color:white;
	background-color:#32174d;
}

.banner{
	margin-top:150px;
	margin-left:150px;
}

.login {
	float:right;
	color:white;
	margin-right:5px;
}
.main-wrap {
    position: absolute;
    top: 50px;
    bottom: 50px;
    width: 100%;
    background-color: white;
    overflow: auto;
}
.container {
    display: table;
    height: 100%;
    width: 100%;
}
.content {
    border: 1px solid blue;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
	background-color:white;
}

     /*banner*/

.banner{
	margin-top:150px;
	margin-left:150px;
}

/*formulier gratis proefles*/
.gratis {
	color:orange;
	font-size:30px;
	margin-left:150px;
	margin-top:0px;
	
}


.head{
	color:#FFA500;
	font-size:30px;
	margin-top:100px;
	margin-left:150px;
}

.image{
	margin-left:150px;
	margin-top:10px;
}

.uitleg {
	margin-left:150px;
	
}

.uitleg2{
	width:300px;
	height:400px;
	margin-top:-300px;
	margin-left:670px;
	padding:15px;
	font-size:18px;
	

}

.bla {
	padding:5px;
	list-style-type:none;
}

.head2 {
	color:#FFA500;
	font-size:30px;
	margin-top:-920px;
	margin-left:1200px;
}

.klein {
	font-size:14px;
	opacity:0,1;
	text-decoration:underline;
}

.geslaagd {
	margin-left:1200px;
	margin-top:10px;
}

#other{
	color:orange;
}

/*inschrijformulier*/


fieldset {
	background:url('http://i61.tinypic.com/bduv6p.png');
	border-radius:10px;
}


.registration_form{
	width:500px;
	margin-left:150px;
	border-radius:10px;
	
}

label{
	width:10em;
	float:left;
	margin-right:0px
	font-size:20px;
}



legend {
	font-size: 20px;
	color:orange;
	padding:4px 6px;
	margin-top: 20px;

}

.elements{
	padding:10px;
	color:white;
}

p {
	font-size:11px;
	margin-bottom:20px;
	padding-bottom:10px;

	
}

.round{

	border: 1px border black;
	padding:4px 7px;
	text-align:center;
	
}

.submit {
float:left;
} 

#gobutton{
cursor:pointer;
padding:5px 25px; 
background:orange; 
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);

color:white;
font-size:1.1em;
}

.text {
	font-size:15px;
	margin-left:150px;
	margin-top:-50px;
}
.footer {
    height: 50px;
    width: 100%;
    background-color: #32174D;
    position: fixed;
    bottom: 0;
    font-size:20px;
    font-family:sans-serif;
}


.link2{
	float:right;
	width:40px;
	height:40px;
	margin:20px;
	margin-top:-16px;

}

.link3{
	float:right;
	width:38px;
	height:38px;
	margin:6px;
	margin-top:-16px;

}

a:link{color:white; text-decoration:none;}
a:visited{color:white; text-decoration:none;}
a:hover{color:orange; text-decoration:none;}
a:active{color:#A9A9A9; text-decoration:none}
